.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 16px 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: #fff;         /* Weiß als Beispiel */
  text-decoration: none;
  margin: 0 8px;
}

.App-header a:hover {
  color: #ffcc00;      /* Farbe beim Überfahren mit der Maus */
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

main {
  flex: 1;
  display: flex;
  align-items: flex-start; /* Inhalt oben ausrichten */
  justify-content: center;
  padding-top: 32px;
}

.startseite-text {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 32px;
}

.random-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.random-char-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.random-char-display {
  margin-top: 32px;
  font-size: 20rem;
  text-align: center;
  min-height: 6rem;
}

.random-color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.random-color-circle {
  margin-top: 32px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #333;
  box-shadow: 0 32px 32px rgba(0,0,0,0.1);
}